/*Name: Bijaya Thapa Magar Student ID: 17439839*/

/*This is for header*/
header{
    font-family: 'Aclonica';
    font-size: 25px;
    text-align: center;
    padding: 1% 0;
}

/*This code is for menu bar*/
.menu{
	text-align: center;
	width: 100%;
	margin: 0;
	padding: 0 ;
}

.menu ul{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #843951;
    list-style: none;	
    justify-content: center;
    font-family: 'Aclonica';
}


.menu ul li a {
    display: block;
    text-decoration: none;  
    color: white;
    text-align: center;
    padding: 16px 18px;
     
}

.menu ul li a:hover {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 16px 18px;
    background: green;
}

.aboutme{
	display: flex;
	flex-direction: row;
    padding-top:1%;
    padding-bottom: 1.5%;
    width: 100%;
}

.text{
	width: 50%;
	font-size: 20px;
    margin: 0 2%;
	background: White;
    font-family: 'Aldrich';
}

.text h3{
    margin-left: 2%;
}

.text p{
    margin: 0 2%;
}

.image{
    width: 50%;
}

/*This code for image*/
.image img{
    width: 100%;
    height: auto;
}

a{
	text-decoration: none;
}

body{
	background: #F3F3F3;
	margin: 0;
}

footer{
	background: #E4E4E4;
}

.copyright{
	text-align: center;
	padding: 2% 0;
}

/*@Media is used to make website responsive*/
@media only screen and (max-width: 690px){
    .menu ul{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #843951;
    list-style: none;   
    justify-content: center;
}

/*This code hides the image when site becomes responsive*/
.image{
    display: none;
}

.text{
    width: 100%;
}

}