form{

}
.form{
 padding-top: 2%;

    justify-content: center;
}

fieldset{
 width: 800px;
}

legend{
  text-align: center;
  font-size: 25px;
}

input[type=text], select {
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    width: 50%;
    padding: 10px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    }